@model MakeFormForTIG.Models.FormData
@{
    ViewData["Title"] = "Home Page";
}

@{var _id = Model.jewelry.Id;}

<form asp-controller="Home" asp-action = "Edit" asp-route-id = "@ViewData["_id"]" method="POST" enctype="multipart/form-data">
  <br>
  <!-- GENERALS -->
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Id">Id</label>
      <span asp-validation-for="jewelry.JewelryId" class="text-danger"></span>
      <input  class="form-control" asp-for="jewelry.JewelryId">
    </div>
    <div class="form-group col-md-4">
      <label for="title">Title</label>
      <span asp-validation-for="jewelry.Title" class="text-danger"></span>
      <input class="form-control" asp-for="jewelry.Title">
    </div>
    <div class="form-group col-md-4">
      <label for="Id">Price</label>
      <span asp-validation-for="jewelry.Price" class="text-danger"></span>
      <input  class="form-control" asp-for="jewelry.Price">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="Etsy">Etsy</label>
      <span asp-validation-for="jewelry.etsyUrl" class="text-danger"></span>      
      <input  class="form-control" asp-for="jewelry.etsyUrl">
    </div>
    <div class="form-group col-md-4">
      <label for="AmazonUS">AmazonUS</label>
      <input class="form-control" asp-for="jewelry.amazonUrl">
    </div>
    <div class="form-group col-md-4">
      <label for="AmazonUK">AmazonUK</label>
      <input class="form-control" asp-for="jewelry.amazonUKUrl">
    </div>
  </div> 
  <div class="form-row">   
    <div class="form-group col-md-12">     
        <label for="Dawanda">Dawanda</label>
        <input  class="form-control" style ="width: 32%" asp-for="jewelry.dawandaUrl">
        <hr />
    </div>
  </div> 
  <!-- TYPE OF JEWELRY -->
  <div class="form-row">
    <label class="col-md-1 col-form-label">Necklaces</label>      
    <div class="form-group col-md-3">     
        <input class="form-check-input" asp-for="Necklaces.isNecklaces">
    </div>
    <label class="col-md-1 col-form-label">Bracelets</label>      
    <div class="form-group col-md-3">     
        <input class="form-check-input" asp-for="Bracelets.isBracelets">
    </div>
    <label class="col-md-1 col-form-label">Rings</label>      
    <div class="form-group col-md-3">     
        <input class="form-check-input" asp-for="Rings.isRings">
    </div>        
  </div>  
  <div class="form-row">
    <label class="col-md-1 col-form-label">Earrings</label>
    <div class="form-group col-md-1">     
        <input class="form-check-input" asp-for="Earrings.isEarring">
      </div>
      <div class="form-group col-md-2">       
        <select asp-for="jewelry.typeOfEarring" asp-items = "Model.Earrings.Earrings"></select>
      </div>  
    <label class="col-md-1 col-form-label">Personalized</label>      
    <div class="form-group col-md-1">     
        <input class="form-check-input" asp-for="Personalized.isPersonalized">
    </div>
      <div class="form-group col-md-2">   
        <select asp-for="jewelry.typeOfPersonalized" asp-items = "Model.Personalized.Personalized"></select>
      </div>
    <label class="col-md-1 col-form-label">Birthstones</label>      
    <div class="form-group col-md-1">     
        <input class="form-check-input" asp-for="Birthstones.isBirthstones">
    </div>
      <div class="form-group col-md-2">   
        <select asp-for="jewelry.typeOfBirthstone" asp-items = "Model.Birthstones.Birthstones"></select>
      </div>               
  </div>
  <div class="form-row">
    <label class="col-md-1 col-form-label">Diamond</label>      
    <div class="col-md-1">     
        <input class="form-check-input" asp-for="Diamond.isDiamond">
    </div>
    <div class="col-md-10">   
      <select asp-for="jewelry.typeOfDiamond" asp-items = "Model.Diamond.Diamond"></select>
    </div>       
  </div>
    <!-- PHOTOS -->
    <div class="form-row">
      <div class="custom-file form-group col-md-12"> 
        <br>
        <hr />
        <label class="custom-file-label" for="customFile">First Thumb</label>
        <span asp-validation-for="first_thumb_file" class="text-danger"></span>
        <input id="FirstImgUpload" type="file" class="custom-file-input"  name="first_thumb_file">
        <img id="firstPreviewImgUp" src = @("/images/shop/"+ Model.jewelry.first_thumb_photo + ".jpg") alt="First image photo">
      </div>
      </div>
      <div class="form-row">
      <div class="custom-file form-group col-md-12">
        <label class="custom-file-label" for="customFile">Second Thumb</label>
        <span asp-validation-for="second_thumb_file" class="text-danger"></span>
        <input id="SecondImgUpload" type="file" class="custom-file-input"  name="second_thumb_file">
        <img id="secondPreviewImgUp" src = @("/images/shop/"+ Model.jewelry.second_thumb_photo + ".jpg")  alt="Second image photo">
      </div>
      </div>
      <div class="form-row">
      <div class="custom-file form-group col-md-12">
        <label class="custom-file-label" for="customFile">YellowPhoto</label>
        <span asp-validation-for="yellowPhoto_file" class="text-danger"></span>
        <input id="YellowImgUpload" type="file" class="custom-file-input"  name="yellowPhoto_file">
        <img id="yellowPreviewImgUp" src = @("/images/shop/"+ Model.jewelry.yellowPhoto + ".jpg") alt="Yellow image photo">
      </div>
      </div> 
      <div class="form-row">
      <div class="custom-file form-group col-md-12">
        <label class="custom-file-label" for="customFile">WhitePhoto</label>
        <span asp-validation-for="whitePhoto_file" class="text-danger"></span>
        <input id="WhiteImgUpload" type="file" class="custom-file-input"  name="whitePhoto_file">
        <img id="whitePreviewImgUp" src = @("/images/shop/"+ Model.jewelry.whitePhoto + ".jpg") alt="White image photo">
      </div>
      </div>
      <div class="form-row">
      <div class="custom-file form-group col-md-12">
        <label class="custom-file-label" for="customFile">RosePhoto</label>
        <span asp-validation-for="rosePhoto_file" class="text-danger"></span>
        <input id="RoseImgUpload" type="file" class="custom-file-input"  name="rosePhoto_file">
        <img id="rosePreviewImgUp" src = @("/images/shop/"+ Model.jewelry.rosePhoto + ".jpg") alt="Rose image photo">
        <hr />
      </div>
      </div>
      <!-- INFO -->
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="quickReview">Quick Review</label> 
          <textarea class="form-control" asp-for="jewelry.quickReview"></textarea>
        </div>
      </div> 
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="quickReview">More Info</label> 
          <textarea class="form-control" asp-for="jewelry.moreInfo"></textarea>
        </div>
      </div>                                      
      <div class="form-row">
        <div class="form-group col-md-12">
          <hr /> 
          <!-- Hiddel Values -->
          <input type="hidden" asp-for= "jewelry.Id">
          <input type="hidden" asp-for= "jewelry.first_thumb_photo">
          <input type="hidden" asp-for= "jewelry.second_thumb_photo">
          <input type="hidden" asp-for= "jewelry.yellowPhoto">
          <input type="hidden" asp-for= "jewelry.whitePhoto">
          <input type="hidden" asp-for= "jewelry.rosePhoto">

          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
  </div>
</form>
